<div class="post">
  <div class="post-title-wrapper">
    <div class="post-title" *ngIf="!editingState.isEditing">{{ activePost.title }}</div>
    <form [formGroup]="postTitleForm" *ngIf="editingState.isEditing">
      <textarea
        type="text"
        class="post-title-textarea"
        [class.error]="postTitleForm.invalid && postTitleForm.touched"
        formControlName="postTitleTextarea"
        [maxlength]="postTitleParams.maxLength"
        [ngModel]="activePost.title"
        (keydown.enter)="confirmEdit($event)"
      ></textarea>
      <div class="error-message" *ngIf="postTitleForm.invalid && postTitleForm.touched">
        <div *ngIf="postTitleForm.controls.postTitleTextarea.errors?.required">Title is required</div>
        <div *ngIf="postTitleForm.controls.postTitleTextarea.errors?.minlength">Min length of title is {{ postTitleParams.minLength }} symbols</div>
      </div>
    </form>
  </div>
  <div class="post-author">Author: {{ activePost.author }}</div>
  <hr>
  <div class="post-content" *ngIf="!editingState.isEditing">{{ activePost.content }}</div>
  <form [formGroup]="postContentForm" *ngIf="editingState.isEditing">
    <textarea
      type="text"
      class="post-content-textarea"
      [class.error]="postContentForm.invalid && postContentForm.touched"
      rows="10"
      [maxlength]="postContentParams.maxLength"
      formControlName="postContentTextarea"
      [ngModel]="activePost.content"
      (keydown.enter)="confirmEdit($event)"
    ></textarea>
    <div class="error-message" *ngIf="postContentForm.invalid && postContentForm.touched">
      <div *ngIf="postContentForm.controls.postContentTextarea.errors?.required">Title is required</div>
      <div *ngIf="postContentForm.controls.postContentTextarea.errors?.minlength">Min length of title is {{ postContentParams.minLength }} symbols</div>
    </div>
  </form>
  <hr>
  <div class="edit-buttons">
    <button (click)="editBtnClick()">
      <img src="../../assets/images/pencil.png" alt="Lorem Ipsum" *ngIf="!editingState.isEditing">
      <img src="../../assets/images/cross.ico" alt="Lorem Ipsum" *ngIf="editingState.isEditing">
    </button>
    <button (click)="showWarn()"><img src="../../assets/images/trash.png" alt=""></button>
    <br>
    <button (click)="confirmEdit($event)" *ngIf="editingState.isEditing" [ngStyle]="{marginTop: '10px'}">
      <img src="../../assets/images/check.png" alt="Lorem Ipsum">
    </button>
  </div>
</div>

<div class="comments">
  <span class="comments-title">Comments:</span>
  <div class="comment" *ngFor="let comment of activePost.comments.reverse(); let i = index">
    <span class="comment-author">{{ comment.author }}: </span>
    <p class="comment-content">{{ comment.body }}</p>
    <div class="comment-date">{{ comment.date | date:'yyyy, MM, dd hh:mm' }}</div>
    <button class="comment-delete-btn" (click)="onDeleteBtnClick(comment.id)">
      <img src="../../assets/images/cross.ico" alt="Lorem ipsum">
    </button>
  </div>
</div>

<div class="confirm-wrapper" *ngIf="confirm" (click)="hideWarn()"></div>
<div class="confirm" *ngIf="confirm">
  <p>Do you want to delete this post?</p>
  <div class="confirm-buttons">
    <button class="confirm-btn" (click)="onConfirmBtnClick()">Confirm</button>
    <button class="reject-btn" (click)="hideWarn()">Reject</button>
  </div>
</div>

