header {
  padding: 10px 15px 15px;

  font-size: 50px;
  background-color: rgb(198, 163, 231);

  &.admin {
    background-color: rgb(209, 81, 81);
  }
}

.header-links {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20px;
  top: 20px;

  width: 320px;
  height: 40px;

  padding: 0 15px;

  & a {
    display: inline-block;
    width: 130px;

    border: 1px solid #000;
    border-radius: 20px;

    background-color: rgba(75, 223, 179, 0.479);
    text-decoration: none;
    color: #000;
    line-height: 38px;
    font-size: 20px;
    text-align: center;
  }
}

.container {
  width: 100%;
  max-width:1200px;

  border-left: 2px solid rgb(216, 216, 216);
  border-right: 2px solid rgb(216, 216, 216);

  margin: 10vh auto 0;
  padding: 10px;
}