<header [class.admin]="editingState.isEditing">
  {{ editingState.isEditing ? 'Admin Panel' : 'Angular Blog' }}
  <div class="header-links">
    <a *ngIf="loggedUser.admin === true && editingState.isEditing === false" routerLink="admin-panel/posts">Edit</a>
    <a *ngIf="loggedUser.admin === true && editingState.isEditing === true" routerLink="posts">Done</a>
    <a routerLink="" (click)="onSignOut()">Sign Out</a>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>