<div class="post">
  <div class="post-title">{{ activePost.title }}</div>
  <div class="post-author">Author: {{ activePost.author }}</div>
  <hr>
  <div class="post-content">{{ activePost.content }}</div>
  <hr>
</div>
<div class="comments">
  <span class="comments-title">Comments:</span>
  <br>
  <app-comments-form></app-comments-form>
  <div class="comment" *ngFor="let comment of activePost.comments.reverse()">
    <span class="comment-author">{{ comment.author }}: </span>
    <div class="comment-date">{{ comment.date | date:'yyyy, MM, dd hh:mm' }}</div>
    <p class="comment-content">{{ comment.body }}</p>
  </div>
</div>

<a routerLink="../../posts" class="back-ref">Back</a>
