<div class="posts" *ngIf="!loading">
  <button class="add-post-btn" (click)="showPostForm()">Add new post</button>
  <div class="add-post-form-wrapper" (click)="hidePostForm()" *ngIf="postFormVisible">
  </div>
  <form class="add-post-form" *ngIf="postFormVisible" [formGroup]="addPostForm">
    <textarea
      type="text"
      class="title"
      [class.error]="addPostForm.controls.postTitle.invalid && addPostForm.controls.postTitle.touched"
      formControlName="postTitle"
      [maxlength]="postTitleParams.maxLength"
      (keydown.enter)="preventNewLine($event)"
      placeholder="Title:"
    ></textarea>
    <div class="error-message" *ngIf="addPostForm.controls.postTitle.invalid && addPostForm.controls.postTitle.touched">
      <div *ngIf="addPostForm.controls.postTitle.errors?.required">Title is required</div>
      <div *ngIf="addPostForm.controls.postTitle.errors?.minlength">Min length of title is {{ postTitleParams.minLength }} symbols</div>
    </div>
    <textarea
      type="text"
      class="content"
      [class.error]="addPostForm.controls.postContent.invalid && addPostForm.controls.postContent.touched"
      rows="10"
      [maxlength]="postContentParams.maxLength"
      formControlName="postContent"
      (keydown.enter)="preventNewLine($event)"
      placeholder="Content:"
    ></textarea>
    <div class="error-message" *ngIf="addPostForm.controls.postContent.invalid && addPostForm.controls.postContent.touched">
      <div *ngIf="addPostForm.controls.postContent.errors?.required">Content is required</div>
      <div *ngIf="addPostForm.controls.postContent.errors?.minlength">Min length of content is {{ postContentParams.minLength }} symbols</div>
    </div>
    <div class="buttons">
      <button class="confirm-btn" (click)="addPost()">Create post</button>
      <button class="reject-btn" (click)="hidePostForm()">Cancel</button>
    </div>
  </form>
  <div class="post" *ngFor="let post of posts.reverse()">
    <div class="post-title">{{ post.title }}</div>
    <div class="post-author">Author: {{ post.author }}</div>
    <a class="post-link" [routerLink]="'../post/' + (post.id || '')">Edit</a>
    <hr>
  </div>
</div>

<div *ngIf="loading">Loading...</div>
